DT_COMPAT_ZMK_BEHAVIOR_CLIPBOARD_ACTION := zmk,behavior-clipboard-action
DT_COMPAT_ZMK_BEHAVIOR_CLIPBOARD_TOGGLE := zmk,behavior-clipboard-toggle

config ZMK_BEHAVIOR_CLIPBOARD_ACTION
    bool
    default $(dt_compat_enabled,$(DT_COMPAT_ZMK_BEHAVIOR_CLIPBOARD_ACTION))

config ZMK_BEHAVIOR_CLIPBOARD_TOGGLE
    bool
    default $(dt_compat_enabled,$(DT_COMPAT_ZMK_BEHAVIOR_CLIPBOARD_TOGGLE))

config ZMK_WIDGET_CLIPBOARD_STATUS
    bool "Clipboard mode status widget"
    depends on ZMK_DISPLAY
    default y if ZMK_DISPLAY
